body{
    background-color: #b4f2e1;
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px ;
}

h1{
    background-color: #ffe9c5;
    padding: 20px 20px;
    color: #fa9191;
    border-radius: 20px;
}

span {
    color: #eb6383;
}